/BlazorApp/bin
/BlazorApp/obj
/BlazorApp/TestResults/
/BlazorApp.Specs/bin
/BlazorApp.Specs/obj
/BlazorApp.Tests/bin
/BlazorApp.Tests/obj
/BlazorApp.UITests/bin
/BlazorApp.UITests/obj
/BlazorApp.UISpecs/bin
/BlazorApp.UISpecs/obj
/.vs
/BlazorApp/.vs
