/BlazorApp/bin
/BlazorApp/obj
/BlazorApp/TestResults/
/BlazorApp.Specs/bin
/BlazorApp.Specs/obj
/BlazorApp.NUnitSpecs/bin
/BlazorApp.NUnitSpecs/obj
/BlazorApp.NUnitSpecsCLI/bin
/BlazorApp.NUnitSpecsCLI/obj
/BlazorApp.Tests/bin
/BlazorApp.Tests/obj
/.vs
/BlazorApp/.vs