@page "/js"
@inject IJSRuntime JSRuntime

<div id="placeholder"></div>
<button class="btn btn-success" @onclick="SayHello">Say hello to JS</button>

@code
{    
    public async Task SayHello()
    {
        await JSRuntime.InvokeVoidAsync("Hello");
        //await JSRuntime.InvokeVoidAsync("alert('Hello from the other side!')");
    }
}