@page "/compoundinterest"
<h1>Compound Interest</h1>
<table class="table">
    <tr>
        <th>Initial Principal</th>
        <th><input @bind="Principal" /></th>
    </tr>
    <tr>
        <th>Years</th>
        <th><input @bind="Years" /></th>
    </tr>
    <tr>
        <th>Annual Interest Rate (%)</th>
        <th><input @bind="InterestRate" /></th>
    </tr>
    <tr>
        <th>Total:</th>
        <th>@Total</th>
    </tr>
</table>
<button class="btn btn-primary" @onclick="Calculate">Calculate</button>

@code
{
    public double Principal { get; set; } = 5000;
    public double InterestRate { get; set; } = 5;
    public int Years { get; set; } = 10;
    public string Total { get; private set; }
    public void Calculate()
    {
        var total = Principal * Math.Pow(1 + InterestRate / (1200.0), Years * 12);
        Total = total.ToString("C");
    }
}
